#pane {
    -fx-background-color: #f58522;
}

#backButton {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #d86e3a, #c54e2c);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}

#backButton:hover {
    -fx-background-color:
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #ea7f4b, #c54e2c);
}

.table-row-cell:odd{
    -fx-background-color: #FB9C01;
}

.table-cell.win {
    -fx-background-color: palegreen;
    -fx-border-color: #9d4024;
}


.table-cell.lose {
    -fx-background-color: #F15959;
    -fx-border-color: #9d4024;
}

.table-view .column-header {
    -fx-base: #F58522;
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
            #9d4024,
            #f58522,
            radial-gradient(center 50% 50%, radius 100%, #f58522, #c54e2c);
}

.table-view {
    -fx-base: #F5AF3D;
    -fx-font: bold 13pt "arial";
   }

.table-cell {
    -fx-border-color: #9d4024;
    -fx-alignment: CENTER;
}


#btn {
    -fx-background-image: url("/images/view.png");
    -fx-background-color: transparent;
    -fx-background-size: 30px 30px;
    -fx-background-repeat: no-repeat;
}